
.Textynaklik p {
    cursor: pointer;
    transition: transform 0.5s ease;
}

.Textynaklik p:active {
    transform: scale(1.2); /* Scales up the text when clicked */
}
.Textynaklik{
    display: grid;
    grid-auto-flow: column;
    gap: var(--size-3);
}

html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Varela Round", sans-serif;
    overflow-x: hidden;
  }
  ::selection {
    background-color: #a8b741;
  }
  .navkontakt::before {
    text-decoration: none;
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #acba4a;
    transition: width 0.3s ease;
    transform: translateX(-50%);
  }
  
  .navkontakt:hover {
    color: black;
    transition: all 0.3s ease;
  }
  .navkontakt {
    text-decoration: none;
    position: relative;
    font-size: 1.5rem;
    float: right;
    text-decoration: none;
    color: #000;
  }
  .navkontakt:hover {
    text-decoration: none;
    position: relative;
  }
  .navkontakt:hover::before {
    text-decoration: none;
    width: 100%;
  }
  .conto {
    background-color: white;
  }
  .top {
    transition: background 0.3s ease;
  }
  .textos {
    margin-left: 10rem;
    margin-right: 10rem;
  }  
  